*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:black;
}

.menu{
    width:100%;
    height:100px;
    background-color:#72eb3a;
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:absolute;
    top:0;
    z-index:3;
}

.menu-icon{
    margin-left:25px;
    display:flex;
    align-items:center;
    animation-name:effect-1;
    animation-duration:1s;
    animation-timing-function:linear;
}

@keyframes effect-1{
    0% ,50%{
        transform:translateX(-15px);
        opacity:0;
    }
    100%{
        transform:translateX(0);
        opacity:1;
    }
}

.img-icon{
    width:50px;
    height:50px;
    border-radius:50%;
    margin-right:15px;
}

.menu-h1{
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.menu-link{
    margin-right:25px;
    animation-name:effect-2;
    animation-duration:1.5s;
    animation-timing-function:linear;
}

@keyframes effect-2{
    0% , 50%{
        transform:translateY(15px);
        opacity:0;
    }
    100%{
        transofrm:translateY(0);
        opacity:1;
    }
}

.link-1{
    color:black;
    text-decoration:none;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: italic;
    margin-left:10px;
    padding:7px 15px;
    border-radius:7px;
    transition:.3s;
}

.link-1:hover{
    color:white;
    text-shadow:3px 5px 13px black;
}

.link-h{
    color:white;
    background-color:black;
}

/* ----------------- the end of menu ------------- */
/* ----------------- section 1 ------------------- */

.sec-1{
    width:100%;
    height:100vh;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.sec-shadow{
    width:100%;
    height:100%;
    background-image:linear-gradient(to top , rgba(0, 0, 0, 0.623) , rgba(14, 160, 57, 0.432));
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.sec-1-text{
    margin-left:25px;
}

.sec-1-h1{
    color:#5d9d0b;
    font-size:35px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    animation-name:effect-3;
    animation-duration:1s;
    animation-timing-function:linear;
    margin-bottom:30px;
}

@keyframes effect-3{
    0% ,50%{
        transform:translateY(-15px);
        opacity:0;
    }
    100%{
        transform:translateY(0);
        opacity:1;
    }
}

strong{
    color:#72eb3a;
    font-weight:900;
}

.sec-1-p{
    color:#5d9d0b;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    border-left:solid #72eb3a;
    border-right:solid #72eb3a;
    padding:0 20px;
    animation-name:effect-1;
    animation-duration:1s;
    animation-timing-function:linear;
    margin-bottom:35px;
}

.sec-1-image{
    margin-right:25px;
    animation-name:effect-4;
    animation-duration:1.7s;
    animation-timing-function:linear;
}

@keyframes effect-4{
    0% , 50%{
        transform:translateX(15px);
        opacity:0;
    }
    100%{
        transform:translateX(0);
        opacity:1;
    }
}

.image-2{
    width:600px;
}

form{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    animation-name:effect-1;
    animation-duration:1s;
    animation-timing-function:linear;
}

input{
    width:300px;
    height:45px;
    border:none;
    border-radius:13px;
    border:solid #72eb3a;
    padding-left:10px;
    margin-bottom:20px;
}

input:invalid{
    content:"";
    border:solid red;
}

.btn-1{ 
    border:none;
    width:200px;
    height:45px;
    border-radius:13px;
    color:white;
    background-color:#365a08;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    transition:.3s;
    cursor:pointer;
}

.btn-1:hover{
    background-color:#72eb3a;
    color:black;
    box-shadow:0 0 30px 7px #72eb3a;
}

/* ---------------------------- section 2 ------------- */

.sec-2{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.sec-2-text{
    margin-left:25px;
}

.text-h1{
    color:#5d9d0b;
    font-size:35px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    margin-bottom:20px;
}

.text-p{
    color:#5d9d0b;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    border-left:solid #72eb3a;
    border-right:solid #72eb3a;
    padding:0 20px;
    line-height:30px;
}

.sec-2-image{
    margin-right:25px;
}

/* ------------------------ sec 3 ------------------- */

.sec-3{
    width:100%;
    height:150px;
    background-color:#72eb3a;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.sec-3-text{
    display:flex;
    align-items:center;
}

.sec-3-h1{
    color:black;
}


@media(max-width:1200px){
    .sec-shadow{
        flex-direction:column;
        justify-content:flex-end;
    }

    .sec-1-image{
        margin:0;
        order:-1;
    }

    .sec-1-text{
        margin:0;
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .sec-1-h1 ,.sec-1-p{
        text-align:center;
        line-height:30px;
    }
    .sec-1-p{
        padding:0 10;
    }
    form{
        align-items:center;
    }

    .btn-1{
        width:300px;
    }
}

@media(max-width:990px) {
    .sec-2{
        display:flex;
        flex-direction:column;
        justify-content:center;
    }

    .sec-2-image{
        margin:0;
        order:-1;
    }

    .sec-2-text{
        margin:0;
    }

    .text-h1 , .text-p{
        text-align:center;
    }
}

@media (max-width:660px) {
    .menu{
        display:flex;
        flex-direction:column;
        height:auto;
        align-items:center;
        justify-content:center;
    }
    .menu-icon{
        margin:0;
        margin-top:20px;
        margin-bottom:25px;
    }

    .menu-link{
        margin:0;
        margin-bottom:30px;
    }

    .sec-3{
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
    }
}

@media(max-width:550px){
    .image-2{
        width:350px;
    }
    .sec-1-h1{
        font-size:25px;
    }

    .sec-1-p{
        padding:0 3px;
        font-size:13px;
    }

    .text-h1{
        font-size:25px;
    }

    .text-p{
        font-size:13px;
        padding:0 3px;
    }
}